# dependencies
node_modules
.pnpm-debug.log

# build outputs
dist
build
.next
out
storybook-static


# turborepo
.turbo

# IDE and OS files
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
